h2 {
    color: rgb(0, 232, 15);
    }  
body {
    background-color: rgb(205, 92, 92);
    background-image: url("csc106_background.png");
    <!--<div style="background-color:lightblue" align=center>-->
  
    </div>
     }
