h2 {
    color: rgb(0, 232, 15);
}
table {
    cellspacing="25";
}
div {
    max-width:500px;
    margin: auto;
}
body {
    background-color: rgb(205, 92, 92);
    background-image: url("csc106_background.png");
    height: 100%;
    color: white;
}
#prior_ed {
}
#research {
}
